*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}

header{
    display:flex;
    justify-content:space-around;
}
.div1 p{
    margin:1.5rem;
    padding:1.4rem;
    font-size:1.6rem;
    display:inline-block;
    position:relative;
    right: 80% ;
}
.div2 p{
    margin:1.2rem;
    padding:1.6rem;
    font-size:1.6rem;
    display:inline-block;
    position:relative;
    left:80%;
}

.image{
    display:flex;
    
}

