*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    width:100%;
}
.nav-header{
    position:absolute;
    left:85%;
    height:28px;
    margin:10px;
   }
  
.gmail, .imagenes{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    margin:3px; 
}
.icon-apps img{
    width:18px;
    position:relative;
    top:3px;
    left:5px;
}
a{
    text-decoration: none;
}
.Iniciar_sesion img{
    width:25px;
    border-radius:9.5px;
    position:relative;
    top:5px;
    left:10px; 
}
.main-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    position:relative;
    top:150px;   
}
.logo{
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo img{
   display:flex;
   justify-content:center;
   width:350px;
   
}
.container_barSearch{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.caja{
   display:inline-block;
    width:525px;
    border-radius:100px;
    border:1px solid #dfe1e5;
}
.busqueda{
    width:450px;
    height:40px;
    border:none;
    outline:none;
   
}
.caja:hover{
    box-shadow:0 1px 6px 0 #20212447;
    background-color:#dfe1e500;
}
.search-icon img{
    width:14px;
    height:13px;
    display:inline-block;
    margin-left:12px;
}
.micro-icon img{
    width:24px;
    height:24px;
    vertical-align:middle;
}
.botones{
    display:flex;
    justify-content:center;
    align-content:center;
    width:500px;
    height: 40px;
    margin:18px;
    
}
.botones:hover{
    background-color:#f2f2f2;
    color:#5F6368;
    box-shadow:01px 1px rgba(0,0,0,0);
}
.buscar{
    border:1px solid #f2f2f2;  
    background-color:#f2f2f2;
    box-shadow:1px 1px rgba(0,0,0,0);
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;
    font-size:14px;
    width:150px;
    height: 20px;
}
.suerte{
    border:1px solid #f2f2f2;  
    background-color:#f2f2f2;
    box-shadow:1px 1px rgba(0,0,0,0);
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;
    font-size:14px;
    width:150px;
    height: 20px;
}
.footer{
    display:block;
    position:relative;
    top:220px;  
}
.menu-country {
    height: 40px;
    font-size:15px;
    background-color:#f2f2f2;
    position:relative;
    top:72px;
}
.menu-country p{
    margin-left:30px;
    background-color:#f2f2f2;
    font-size:16px;
    position:relative;
    top:12.5px;  
}
.menu-footer{
    background-color:#f2f2f2;
    font-size:15px;
    height:20px;
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
    position:relative;
    top:75px;
    height: 40px; 
}
.menu-left{
display:inline-block;
background-color:#f2f2f2;
padding-left:27px;
position:relative;
top:12.5px;
}
.menu-left a{
    margin:3px;
}
.menu-right{
    display:inline-block;
    position:relative;
    left:550px;
    top:12.5px;
    background-color:#f2f2f2;
    padding-right:27px;
}
.meu-right a{
margin:3px;
}


